
/* Global */
* {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* FUENTE PERSONALIZADA*/
@font-face{
	font-family: "cmjfonts";
	src: url(../fonts/Product-Sans-Regular.ttf);
	/*src: url(../fonts/Raleway-BlackItalic.ttf);*/
	/*src: url(../fonts/Raleway-ThinItalic.ttf);*/
}

body {

	font-family: "cmjfonts";
	font-style: normal;
	margin: 0px;
	/*height: 700px;*/
	background-color:#dedede;
		color: #232f3e;
	/*width: 80%;*/
		
}


p{
	padding-left: 32px;
	size: inherit;
	
	}
	

h1{
	font-size: 2em;
	font-style: italic;
	size: inherit;
}

h3{
color:#333333;
font-style: normal;
font-size: 1.5em;
padding: 3px;
size: inherit;
}

h4{
	font-size: 1.1em;
	font-style: normal;
	size: inherit;

}


div {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "cmjfonts";
	font-size: 1em;
	font-style: normal;               
	
}


#div_body{
	width: 100%;
	margin: 0px;
	
}

#div_head{
	/*width: 100%;*/
	height: 125px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;

}

#div_head img{
	width: 900px ;
	height:70px;
	margin: 0px;

}


#div_TopBanner{
	width: 100%;
	height: 300px;
	margin: auto;
	padding: 0px;	
}

#div_TopBanner img{
	width: 100%;
	height: 400px;
	
}




#div_central{
	display: none;
	/*font-style: normal;*/
	font-size: 25px;
	font-weight: lighter;
	width: 100%;
	text-align: justify ;
	
}

#div_central p{

	padding: 25px;
	line-height: 28px;

}



#div_footer{

width: 100%;
background-color: #242323;
padding: 35px;


}


#div_Inicio, #div_Software, #div_Consultoria, #div_DesarrolloWeb, #div_Proyectos, #div_Contacto{

	/*border: solid;*/
	width: 100%;
	margin: 0px;
	text-align: justify;
	padding: 35px;
	
}


#div_Inicio p, #div_Software p, #div_Consultoria p, #div_DesarrolloWeb p, #div_Proyectos p, #div_Contacto p{
	clear: both;
}

#div_Software{
background-image: url(../images/fondosmenu/Opfondsoftmedida.png);
background-size: cover;
background-position: center;
min-height: 500px;


}


#div_Consultoria{
	background-image: url(../images/fondosmenu/fondconsultoria.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

	
#div_DesarrolloWeb{
	background-image: url(../images/fondosmenu/fondwebdev.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

	
#div_Contacto{
	background-image: url(../images/fondosmenu/fondcontacto.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

#nav_menu_principal ul{
	list-style: none;
	margin-top: 0px;
	
}

#nav_menu_principal li{
	display: inline;
	padding-bottom: 35px;
	padding-left: 25px;
	margin-bottom: 65px;
}

#nav_menu_principal a{

	text-decoration: none;
	font-family: "cmjfonts";
	font-size: 1.3em;
	font-style: normal;
	font-weight: bolder;
	color: #232f3e;
	transition: 0.3s;
	transition: ease-in-out 0.1s;
}

#nav_menu_principal a:hover {
	
	font-family: "cmjfonts";
	font-size: 1.5em;
	font-style: normal;
	font-weight: bolder;               
	color: #005ec2;
}

#nav_footer ul{

	list-style: none;
	margin-top: 0px;
	text-align: center;
}


#nav_footer li{

	display: inline;
	align-content: space-around;
	padding: 100px;
}





#sec_inicio{

	width:100%;
}


#sec_inicio figure {

width: inherit;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: 0px;
justify-content:center
}

#sec_inicio figure figcaption{

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	font-size: 0.4em;
	font-style: normal;
	font: bolder;
	color: #715c5c;
}


#sec_inicio figure img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 2px;
	background:#acaaaaf2;
	border-radius: 20px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;

}

#sec_inicio figure img:hover{
	
	cursor: pointer;
	background: #005ec2;
	transform: scale(1.09);
}

/* 
	
#sec_proyectos figure figcaption {

	width: 150px;
	margin-left: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #5f2626;
	font: italic;
	font-size: 0.3em;
	text-align: center;
}
 */
	
	
#sec_proyectos figure img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 4px;
	background: #acaaaaf2;
	border-radius: 15px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;
}

#sec_proyectos figure img:hover{

	background: #232f3e;
	transform: scale(1.09);
}



#sec_proyectos figure a{
	
	text-decoration: none;
}



#div_footer{
margin: 0px;	
height: 125px;

}


#div_footer figure{

width: inherit;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 0px;
justify-content:center

}


#div_footer figure img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 2px;
	background:#acaaaaf2;
	border-radius: 10px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;


}




form{

display: block;
/*background: transparent;*/
color:#acaaaaf2;
border: solid;
border-radius: 15px;
width: 650px;
padding: 5px;
margin: auto;
}

form h4{

margin-left: 15px;
margin-bottom: 50px;	
padding: 15px;
border: solid;
/* background-color: #232f3e;
border-color:#333333;*/
border-top: transparent;
border-left: transparent;
border-radius: 10px;
color: #232f3e;
width: 150px;
}

form input, textarea{

padding: 15px;
width: 550px;
margin: 15px;
background-color: #ffffff;
background-color: transparent;
border-radius: 5px;
border: solid;
border-width: 2px;
border-color: #b8b8b8;
font-size: 1em;
}

form input[type="submit"]{

	width:25%;
	padding:8px 16px;
	margin-top:32px;
	border:3px solid #000;
	border-top: transparent;
	border-left: transparent;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#ec7211;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}








.class_grid_inicio{
	
	width: inherit;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	gap: 1em;
	}
	
	.class_grid_proyectos{

		background:#b8b8b8 ;
		padding-top: 10px;
		padding-bottom: 10px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 20px;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: repeat(4 ,1fr);
		grid-template-rows: auto;
		align-items: center;
		gap: 1em;
		}

			
.class_grid_footer{
		
	/*background:#b8b8b8 ;*/
	color: #333333;
	/* border: solid;
	border-bottom: transparent;
	border-right: transparent;
	border-radius: 20px; */
	padding-top: 2px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 1px;
	display: grid;
	grid-template-columns: repeat(4 ,1fr);
	grid-template-rows: auto;
	align-items: center;
	gap: 1em;
				}
			


.class_span{
color: #333333;
font: italic;

}


.class_colordiv{

	background-color:#333333;
	background-image: url(../images/fondoCubosBlancos.png);
	background-size: cover;
}

.class_h3{
	float: left;
	border: solid;
	width: fit-content;
	margin-right: 20px;
	margin-left: auto;

	/*margin: 0px;*/
	border-left: transparent;
	border-top: transparent;
	border-radius: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
}


.class_h5{

	float: left;
	/*font-size: 1.5em;*/
	color: #acaaaaf2;
	margin: 0px;
	width: fit-content(100%);
	border: solid;
	border-top: transparent;
	border-left: transparent;
	border-radius: 5px;

}



.class_redsocial {

	
	/*float: left;*/
	margin-top: 0px;
	margin-left: 5px;
	padding:0px;
	/*line-height: 28px;*/
	border: solid;
	border: 1px;
	border-color: lightcoral;
	width: fit-content;
	background-color: lightgreen;

}
 
.class_redsocial li{

display: block;
padding-top: 20px;


}


.nav_slider{
	
	margin: auto;
	width: 100%;
	height: 300px;
	overflow: hidden;
}


.nav_slider ul{
	
	display: flex;
	padding: 0px; 
	width: 400%;
	animation: cambio 18s infinite;/*alternate linear;*/
	animation-direction: alternate;
}

.nav_slider li{

	list-style:none ;
	width: 100%;
}

.nav_slider img{

	width: 100%;
	height: 300px;
}



@keyframes cambio {

	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




