
/* Global */
* {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* FUENTE PERSONALIZADA*/
@font-face{
	font-family: "cmjfonts";
	src: url(../fonts/Product-Sans-Regular.ttf);
	/*src: url(../fonts/Raleway-BlackItalic.ttf);*/
	/*src: url(../fonts/Raleway-ThinItalic.ttf);*/
}

body {

	font-family: "cmjfonts";
	font-style: normal;
	margin: 0px;
	/*height: 700px;*/
	background-color:#dedede;
		color: #232f3e;
	/*width: 80%;*/
		
}


p{
	padding-left: 32px;
	size: inherit;
	
	}
	

h1{
	font-size: 2em;
	font-style: italic;
	size: inherit;
}

h3{
color:#333333;
font-style: normal;
font-size: 1.5em;
padding: 3px;
size: inherit;
}

h4{
	font-size: 1.1em;
	font-style: normal;
	size: inherit;

}


div {
	width: 100%;
	margin: 0px;
	padding: 0px;
	font-family: "cmjfonts";
	font-size: 1em;
	font-style: normal;               
	
}


#div_body{
	width: 100%;
	margin: 0px;
	
}

#div_head{
	/*width: 100%;*/
	height: 125px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;

}

#div_head img{
	width: 900px ;
	height:70px;
	margin: 0px;

}


#div_TopBanner{
	width: 70%;
	height: 400px;
	margin: auto;
	padding: 0px;	
}

#div_TopBanner img{
	width: 100%;
	height: 400px;
	
}




#div_central{
	display: none;
	/*font-style: normal;*/
	font-size: 25px;
	font-weight: lighter;
	width: 100%;
	text-align: center ;
	
}

#div_central p{

	padding: 25px;
	line-height: 40px;


}



#div_Inicio, #div_Software, #div_Consultoria, #div_DesarrolloWeb, #div_Proyectos, #div_Contacto{

	/*border: solid;*/
	width: 70%;
	margin: 20px;
	text-align: justify;
	padding: 35px;
	
	
}


#div_Software{
background-image: url(../images/fondosmenu/Opfondsoftmedida.png);
background-size: cover;
background-position: center;
min-height: 500px;


}


#div_Consultoria{
	background-image: url(../images/fondosmenu/fondconsultoria.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

	
#div_DesarrolloWeb{
	background-image: url(../images/fondosmenu/fondwebdev.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

	
#div_Contacto{
	background-image: url(../images/fondosmenu/fondcontacto.png);
	background-size: cover;
	background-position: center;
	min-height: 500px;
	
	
	}

#nav_menu_principal ul{
	list-style: none;
	margin-top: 0px;
	
}

#nav_menu_principal li{
	display: inline;
	padding-bottom: 35px;
	padding-left: 25px;
	margin-bottom: 65px;

}
#nav_menu_principal a{

	text-decoration: none;
	font-family: "cmjfonts";
	font-size: 1.3em;
	font-style: normal;
	font-weight: bolder;
	/*font: bold;*/               
	color: #232f3e;
	transition: 0.3s;
	transition: ease-in-out 0.1s;


}

#nav_menu_principal a:hover {
	
	font-family: "cmjfonts";
	/*font-size: 112%;*/
	font-size: 1.5em;
	font-style: normal;
	font-weight: bolder;               
	color: #005ec2;
	/*transform: scale(2.0);*/


}

#sec_inicio{

	width:100%;
}


#sec_inicio figure {
/*border: solid;*/
width: inherit;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: 0px;
/*width: 310px;*/
justify-content:center
	/*padding-top: 5px;
	padding-bottom: 2px;*/
	/*text-align: ;*/
}

#sec_inicio figure figcaption{
	/*border: solid;*/
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	/*margin-bottom: 2px;*/
	padding-top: 5px;
	text-align: center;
	/*justify-items: center;*/
	font-size: 0.4em;
	font-style: normal;
	font: bolder;
	color: #715c5c;
	
}


#sec_inicio figure img{
	/* height: 200px;
	width: 300px; */
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 2px;
	background:#acaaaaf2;
	border-radius: 20px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;

}

#sec_inicio figure img:hover{
	cursor: pointer;
	background: #f8991d;
	transform: scale(1.09);

}


	
#sec_proyectos figure figcaption {
	width: 150px;
	margin-left: 25%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	color: #5f2626;
	font: italic;
	font-size: 0.3em;
	text-align: center;
	/*border: solid;*/

}

	
	
#sec_proyectos figure img{
	/*width: 150px;*/
	display: block;
	/*margin: auto;*/
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 4px;
	background: #acaaaaf2;
	border-radius: 15px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;
}

#sec_proyectos figure img:hover{

	background: #f8991d;
	transform: scale(1.09);
}



#sec_proyectos figure a{
	
	text-decoration: none;
}


form{
display: block;

background-color:#8dc3ec;
background: transparent;
border-radius: 20px;
width: 650px;
/*height: 450px;*/
padding: 45px;
margin: auto;

}
form h4{
margin-left: 15px;	
padding: 15px;
border: solid;
background-color: #232f3e;
border-color:#333333;
border-radius: 10px;
color: #ffffff;
width: fit-content;

}

form input, textarea{
padding: 15px;
width: 550px;
margin: 15px;
background-color: #ffffff;
border-radius: 5px;
border: solid;
border-width: 1px;
border-color: #b8b8b8;
font-size: 1em;

}

form input[type="submit"]{
	width:25%;
	padding:8px 16px;
	margin-top:32px;
	border:1px solid #000;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#ec7211;
} 

form input[type="submit"]:hover{
	cursor:pointer;
}




.class_grid_inicio{
	
	width: inherit;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	/*grid-template-rows: auto;*/
	gap: 1em;
	/*border: solid;*/
	}
	
	.class_grid_proyectos{
		/*justify-content: center;*/
		background:#b8b8b8 ;
		padding-top: 20px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 50px;
		margin-bottom: 10px;
		display: grid;
		grid-template-columns: repeat(4 ,1fr);
		grid-template-rows: auto;
		align-items: flex-start;
		gap: 1em;
		/*border: solid;*/
		}
	



.class_span{
color: #333333;
font: italic;

}


.class_colordiv{
	background-color:#333333;
	background-image: url(../images/fondoCubosBlancos.png);
	
	background-size: cover;
	
}

/* .class_colordiv >header>figure>img{

margin-left: 15px;

} */
/* estilo del slider*/ 


.nav_slider{

	margin: auto;
	width: 100%;
	overflow: hidden;
}

.nav_slider ul{

	display: flex;
	padding: 0px; 
	width: 400%;
	animation: cambio 18s infinite;/*alternate linear;*/
	animation-direction: alternate;
}

.nav_slider li{

	list-style:none ;
	width: 100%;
	
}

.nav_slider img{
	/*opacity: 1;*/
	width: 100%;
	height: 400px;
}



@keyframes cambio {

	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}


}




