
/* Global */
* {
	border: 0px;
	padding: 0px;
	margin: 0px;
	box-sizing: border-box;
}

/* FUENTE PERSONALIZADA*/
@font-face{
	font-family: "cmjfonts";
	src: url(../fonts/Product-Sans-Regular.ttf);
	/*src: url(../fonts/Raleway-BlackItalic.ttf);*/
	/*src: url(../fonts/Raleway-ThinItalic.ttf);*/
}



html{
background-color: black;

}

body {

	font-family: "cmjfonts";
	font-style: normal;
	margin: 0px;
	/*height: 700px;*/
	background-color:#615c5c;
		color: #232f3e;
	/*width: 80%;*/
		
}


p{
	padding-left: 32px;
	/*size: inherit;*/
	
	}
	

h1{
	font-size: 2em;
	font-style: italic;
	/*size: inherit;*/
}

h3{
color:#333333;
font-style: normal;
font-size: 1em;
padding: 3px;
/*size: inherit;*/
}

h4{
	font-size: 1.1em;
	font-style: normal;
	/*size: inherit;*/

}


div {
	/*background-color:#dedede;*/
	width: 90%;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
	font-family: "cmjfonts";
	font-size: 1em;
	font-style: normal;               
	
}


#div_body{
	background-color:#dedede;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
}


#div_head{
	width: 100%;
	height: 125px;
	padding-top: 0px;
	padding-bottom: 0px;
	margin-right: 0px;
	margin-left: 0px;

}

#div_head img{
	width: 900px ;
	height:70px;
	margin: 0px;

}


#div_TopBanner{
	width: 100%;
	height: 300px;
	margin: auto;
	padding: 0px;	
}

#div_TopBanner img{
	width: 100%;
	height: 400px;
	
}




#div_central{
	display: none;
	/*font-style: normal;*/
	font-size: 15px;
	font-weight: lighter;
	width: 100%;
	text-align: center ;
	
}

#div_central p{

	padding: 25px;
	line-height: 28px;

}



#div_footer{

width: 100%;
min-height: 150px;
background-color: #242323;
padding: 35px;


}


#div_Inicio, #div_Software, #div_Consultoria, #div_DesarrolloWeb, #div_Proyectos, #div_Contacto{

	/*border: solid;*/
	width: 80%;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	/*align-content: center;*/

	text-align: justify;
	padding: 35px;
	
}

#div_Inicio, #div_Proyectos, #div_Contacto{

	background-color: #d4d4d4;#cccccc

}


#div_Inicio p, #div_Software p, #div_Consultoria p, #div_DesarrolloWeb p, #div_Proyectos p, #div_Contacto p{
	clear: both;
}

#div_Software{
background-image: url(../images/fondosmenu/Opfondsoftmedida.png);
background-size: cover;
background-position: center;
min-height: 400px;


}


#div_Consultoria{
	background-image: url(../images/fondosmenu/fondconsultoria.png);
	background-size: cover;
	background-position: center;
	min-height: 400px;
	
	
	}

	
#div_DesarrolloWeb{
	background-image: url(../images/fondosmenu/fondwebdev.png);
	background-size: cover;
	background-position: center;
	min-height: 400px;
	
	
	}

	
#div_Contacto{
	background-image: url(../images/fondosmenu/fondcontacto.png);
	background-size: cover;
	background-position: center;
	min-height: 400px;
	
	
	}


	#nav_menu_principal{

		margin-left: 0px;
		margin-top: 0px;
		padding-top: 95px;
		padding-left: 0px;
	}




#nav_menu_principal ul{
	list-style: none;
	margin-top: 0px;
	
}

#nav_menu_principal li{
	display: inline;
	padding-bottom: 35px;
	padding-left: 15px;
	margin-bottom: 65px;
}

#nav_menu_principal a{

	text-decoration: none;
	font-family: "cmjfonts";
	font-size: 1.4em;
	font-style: normal;
	font-weight: bolder;
	color: #232f3e;
	transition: 0.3s;
	transition: ease-in-out 0.1s;
}


#nav_menu_principal a:hover {
	
	font-family: "cmjfonts";
	font-size: 1.6em;
	font-style: normal;
	font-weight: bolder;               
	color: #005ec2;
}

#nav_footer ul{

	list-style: none;
	margin-top: 0px;
	text-align: center;
}


#nav_footer li{

	display: inline;
	align-content: space-around;
	padding: 100px;
}





#sec_inicio{

	width:100%;
}


#sec_inicio figure {

width: inherit;
margin-left: auto;
margin-right: auto;
margin-top: 5px;
margin-bottom: 0px;
justify-content:center
}

#sec_inicio figure figcaption{

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 10px;
	padding-top: 5px;
	text-align: center;
	font-size: 0.4em;
	font-style: normal;
	/*font: bolder;*/
	color: #715c5c;
}


#sec_inicio figure img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 70%;
	padding: 2px;
	background:#acaaaaf2;
	border-radius: 20px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;

}

#sec_inicio figure img:hover{
	
	cursor: pointer;
	background: #333333;
	transform: scale(1.09);
}
	
	
#sec_proyectos figure img{

	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 50%;
	padding: 4px;
	background: #acaaaaf2;
	border-radius: 15px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;
}

#sec_proyectos figure img:hover{

	background: #333333;
	transform: scale(1.09);
}



#sec_proyectos figure a{
	
	text-decoration: none;
}



#div_footer{
margin: 0px;	
height: 125px;

}


#div_footer figure{

width: inherit;
margin-left: auto;
margin-right: auto;
margin-top: 0px;
margin-bottom: 0px;
justify-content:center

}


#div_footer figure img{
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 40%;
	padding: 2px;
	background:#acaaaaf2;
	border-radius: 10px;
	transition: 0.3s;
	transition: ease-in-out 0.1s;


}



/*#################################3 ESTILO DE INFORMACION CONTACTO ################################## */

.info_title,
.info_items{
    /* position: relative;
    z-index: 2; */
    color: #fff;
}


.info_title{
	margin-bottom: 1px;
}

.info_title span{
	font-size: 100px;
	display: block;
	text-align: center;
	margin-bottom: 2px;
}

.info_title h2{
	font-size: 15px;
	text-align: center;
}

/* .info_items p{
	
	display: flex;
	text-align: left;
	
	
	 
	display: flex;
	align-items: center;
	align-items: flex-start;
	margin-left: 2px;
	font-size: 25px;
	font-weight: 600;
	margin-bottom: 10px;
}

.info_items p:nth-child(1) span{

	margin-top: 0px;
	font-size: 30px;
	margin-left: auto;
	margin-right: auto;
}

.info_items p:nth-child(2) span{
	font-size: 50px;
	margin-right: 15px;
	margin-left: 4px;
}
 */






/* #########################################--FIN--##################################################### */

/****VENTANA MODAL  DEL FORM ENVIAR CORREO */



#div_mensaje{
 
	position: absolute;
	z-index: 2;
	margin-top: 0px;
	margin-bottom: 200px;
	margin-left: 0px;
	/*margin-right: auto;*/
	width: 400px;
	height: 300px;
	padding-bottom: 10px;
	background-color: lightslategray;
	border: solid;
	border-radius: 10px;
	text-align: center;
	opacity: 0.9;
	
	
	}
	
	#div_mensaje h3{/* rotulo ventana */
			background-color: #000000;
			color: #ffffff;
			text-align: left;
			padding-top: 5px;
			padding-bottom: 20px;
			padding-left: 10px;
			border-radius: 10px 10px 0px 0px;
			
			}
	
	#div_mensaje h5{/* cuerpo del mensaje */
	
	color: #ffffff;
	text-align: center;
	width: fit-content;
	font-weight: 600;
	font-size: 15px;
	padding: 15px 15px;
	margin: 5px auto;*/
	
	}
	
	.class_submit{/*boton reset con rotulo "Aceptar" sirve para aceptar y limpiar datos formulario  */
	
	background-color:gray;
	color: #ffffff;
	text-align: center;
	width: fit-content;
	font-weight: 900;
	font-size: 55px;
	padding: 25px 25px;
	border-radius: 5px;
	
	}
	
	
	.class_X{
	float: right;
	color: #ffffff;
	font-size: 20px;
	font-weight: 600;
	width: fit-content;
	padding: 3px;
	text-align: center;
	margin-top: 0px;
	
	}
	
	.class_btnvermodal{
	
	width:fit-content;
	text-align: center;
	padding:2px 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top:12px;
	border:3px solid #000;
	border-top: transparent;
	border-left: transparent;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#4091ec;    
			
	}
	
	




/***##################################################################################*/



.class_formulario{
/*border: solid;*/
background-color: #ffffff;
box-shadow: 0px 0px 20px  rgb(0, 0, 0, 0.4);
/*color:#acaaaaf2;*/
border-radius: 0.8rem;
width: 60%;
text-align: justify;
margin-left: auto;
margin-right: auto;
margin-top: 0rem;
margin-bottom: 0rem;
display: grid;
align-items: inherit;
grid-template-columns: 40% auto;
grid-gap: 0vw;

}


.class_fondolateral{
/*border: solid;*/
margin: 0rem;
width: 100%;
background-image: url(../images/fondosmenu/agendacitas.png);
background-size: cover;


}



.class_div_formlateral{
	
	/*text-align: justify;*/
	/*border: solid;*/
	background-image: url(../images/fondosmenu/fondoAzul.png);
	border-radius: 0.8rem 0rem 0rem 0.8rem;
	margin: 0rem;
	padding: 0rem;
	height: 100%;
	width: 100%;
	opacity: 0.8;
	background-size: cover;
	
	}

form{

text-align: center;
/*background: transparent;*/
background-color: #ffffff;
color:#acaaaaf2;
border-radius: 0rem 0.8rem 0.8rem 0rem;
width: 100%;
padding: 0px;
/*margin-left: 0rem;
margin-right: auto;*/


}

#div_Contacto h4{

margin-top: 0rem;
margin-left: 1px;
margin-bottom: 0px;	
padding-left: 10px;
border: solid;
/* background-color: #232f3e;
border-color:#333333;*/
border-top: transparent;
border-left: transparent;
border-radius: 10px;
color: #232f3e;
width: 150px;
}

form input, textarea{

text-align: left;
padding: 10px;
padding-right: 5px;
padding-left: 5px;
width: 80%;
margin-top: 10px;
margin-right: auto;
margin-left: auto;
background-color: #ffffff;
background-color: transparent;
border-radius: 2px;
border: solid;
border-width: 2px;
border-color: #b8b8b8;
font-size: 0.8em;

}
/* 
form textarea{

max-width: 80%;
max-height: 100px;


}
 */

/* form input[type="submit"]{

	width:fit-content;
	text-align: center;
	padding:2px 2px;
	margin-left: auto;
	margin-right: auto;
	margin-top:12px;
	border:3px solid #000;
	border-top: transparent;
	border-left: transparent;
	border-radius:5px;
	display:block;
	color:#fff;
	background-color:#4091ec;
} 
 */
form input[type="submit"]:hover{
	cursor:pointer;

}

	form input[type="reset"]{
		
		width: fit-content;
		text-align: center;
		padding:2px 2px;
		margin-left: auto;
		margin-right: auto;
		margin-top:12px;
		border:3px solid #000;
		border-top: transparent;
		border-left: transparent;
		border-radius:5px;
		display:block;
		color:#fff;
		background-color:#4091ec;
	} 
	
	form input[type="reset"]:hover{
		cursor:pointer;

	

}


.class_ul_formulario{
list-style: none;
width: 100%;
text-align: center;
/*border: solid;*/
margin: 0rem;

}

.class_ul_formulario li{

	/*border: solid;*/
	display: inline-flex;
	width: 47%;
	text-align: inherit;
	padding: 35px;
	padding-top: 1px;
	padding-bottom: 5px;
	padding-left: 30px;
	margin-left: auto;
	margin-right: auto;



}





/* FIN SECCION FORMULARIO */


.class_grid_inicio{
	
	width: inherit;
	text-align: justify;
	margin-top: 10px;
	margin-bottom: 10px;
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	gap: 1em;
	}
	
	.class_grid_proyectos{

		background:#cccccc;
		text-align: center;
		border-radius: 10px;
		padding-top: 40px;
		padding-bottom: 40px;
		width: 80%;
		margin-left: auto;
		margin-right: auto;
		margin-top: 0px;
		margin-bottom: 20px;
		display: grid;
		grid-template-columns: repeat(4 ,1fr);
		grid-template-rows: auto;
		align-items: center;
		gap: 1em;
		}

			
.class_grid_footer{
		
	/*background:#b8b8b8 ;*/
	color: #333333;
	/* border: solid;
	border-bottom: transparent;
	border-right: transparent;
	border-radius: 20px; */
	padding-top: 2px;
	width: 80%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1px;
	margin-bottom: 3px;
	display: grid;
	grid-template-columns: repeat(3 ,1fr);
	grid-template-rows: auto;
	align-items: center;
	gap: 1em;
				}
			


.class_span{
color: #333333;
/*font: italic;*/

}


.class_colordiv{

	background-color:#333333;
	background-image: url(../images/CmJefectoCubismo.png);
	background-size: cover;
}

/* 
.class_colordiv {
border: solid;
margin-left: 5px;
margin-top: 3px;
width: 300px; 

} */


.class_imgrotulo{

border: solid;
margin-left: 5px;

}


.class_imgrotulo img{

width: 500px;


}





.class_h3{
	float: left;
	border: solid;
	min-width: min-content;
	max-width: max-content;
	/*width: fit-content;*/
	margin-right: 20px;
	margin-left: auto;

	/*margin: 0px;*/
	border-left: transparent;
	border-top: transparent;
	border-radius: 5px;
	padding-right: 10px;
	padding-bottom: 10px;
}


.class_h5{

	float: left;
	/*font-size: 1.5em;*/
	color: #acaaaaf2;
	margin: 0px;
	min-width: min-content;
	max-width: max-content;
	/*width: fit-content(100%);*/
	border: solid;
	border-top: transparent;
	border-left: transparent;
	border-radius: 5px;

}



.class_redsocial {

	display: none;
	
	position: relative;
	text-decoration: none;
	width: 10%;
	/*float: left;*/
	margin-top: 150px;
	margin-left: 5px;
	padding:0px;
	/*line-height: 28px;*/
	border: solid;
	border: 1px;
	/*border-color: lightcoral;*/
	/*width: fit-content;*/
/*	background-color: lightgreen;*/

}
 
.class_redsocial li{

display: block;
/*padding-top: 20px;*/
padding:10px;

}

.nav_slider{
	
	background-color: black;
	margin: auto;
	width: 100%;
	height: 300px;
	overflow: hidden;
}


.nav_slider ul{
	
	display: flex;
	padding: 0px; 
	width: 400%;
	animation: cambio 18s infinite;/*alternate linear;*/
	animation-direction: alternate;
}

.nav_slider li{

	list-style:none ;
	width: 100%;
}

.nav_slider img{

	width: 100%;
	height: 300px;
}



@keyframes cambio {

	0% {margin-left: 0;}
	20% {margin-left: 0;}

	25% {margin-left: -100%;}
	45% {margin-left: -100%;}

	50% {margin-left: -200%;}
	70% {margin-left: -200%;}

	75% {margin-left: -300%;}
	100% {margin-left: -300%;}
}




